<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<p>
  <strong>Cookingtime:</strong>
  <%= @meal.cookingtime  %>
</p>

<% @meal.ingredients.each do |ingredient| %>
  <ul style="list-style-type:none">
    <li><%=ingredient.description%></li>
  </ul>
<%end%>





<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>

